name: Git Checker

on: [push, pull_request]

jobs:
  git:
    runs-on: ubuntu-latest
    env:
      path: git-majonez
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Set the repo address
      run: |
        echo -n "repo=" >> $GITHUB_ENV
        cat address.txt >> $GITHUB_ENV
    - name: Checkout git-majonez repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        repository: ${{ env.repo }}
        path: ${{ env.path }}
    - name: Run tree-check.sh
      working-directory: .github/scripts
      run: ./tree-check.sh ../../${{ env.path }}
    - name: Run history-check.sh
      working-directory: .github/scripts
      run: ./history-check.sh ../../${{ env.path }}/history.txt
